* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general */
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* desktop version */
.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}

/* header */
header {
    /* height: 100px; */
    display: flex;
    align-items: center;
    margin: 20px;

    /* DEBUG */
    /* background-color: aqua; */
}

#logo {
    font-size: 40px;
    color: #FF9614;
}

/* main */
main {
    background-color: #F6F5F3;
    padding-bottom: 70px;

    /* DEBUG */
    /* height: 1000px; */
}

#sub-title {
    font-size: 10px;
    color: gray;
}

#title {
    color: #7C69A4;
    margin-bottom: 20px;
}

.main-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

#vid-section {
    display: flex;
    /* padding: 30px 0; */
}

.video {
    width: 70%;

    /* DEBUG */
    /* height: 500px; */
    /* background-color: red;
    border: solid 2px black; */
}

.video img {
    width: 100%;
}

.info-video {
    width: 30%;
    padding: 30px;
    background-color: white;

    /* DEBUG */
    /* height: 500px; */
    /* background-color: red;
    border: solid 2px black; */
}

#title-recipe {
    padding-bottom: 40px;
}


ul li {
    list-style: none;
    padding: 7px 0;
}

#social-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    /* DEBUG */
    /* background-color: green;
    height: 70px; */
}

.social {
    padding: 10px 50px;
    width: 19%;
    text-align: center;
    background-color: white;
    border-radius: 25px;

    /* DEBUG */
    /* background-color: blue; */
}

.fa-brands {
    padding-right: 7px;

}

.fa-facebook, .fa-twitter {
    color: blue;
}

.fa-instagram, .fa-pinterest, .fa-youtube {
    color: red;
}

#banner {
    /* text-align: center; */
    width: 100%;
    margin: 30px 0;
}

#banner img {
    width: 100%;
}

/* #presentation {
    width: 100%;
    height: 500px;
    margin-bottom: 100px;
} */

p img {
    width: 20%;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

#p-title {
    font-size: 25px;
    font-weight: 200;
}

#divider{
    width: 10%;
    border: solid orange 1px;
    margin: 20px 0;
}

/* footer */
footer {
    background-color: #7C69A4;
    /* margin-top: 50px; */

    /* DEBUG */
    /* height: 200px; */
}

#footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
    /* padding: 50px 0; */
}

.f-about-us {
    /* width: 40%; */

    /* DEBUG */
    /* background-color: RED;
    height: 50px; */
}

.d-flex {
    display: flex;
    gap: 30px;
    /* padding-right: 30px; */
}

.about-us {
    color: white;
    text-decoration: underline;
}

.d-block span {
    color: white;
    display: block;
    /* padding-left: 30px; */
}

#f-top {
    /* margin-top: 30px; */
    padding-bottom: 10px;
}

#f-bottom {
    /* margin-bottom: 30px; */
    padding-top: 10px;
}

/**********************************
 Tablet version
 *********************************/

@media screen and (max-width: 768px) {
    #vid-section {
        display: block;
    }

    .video {
        width: 100%;
    }

    .info-video {
        width: 100%;
    }

    .social-none {
        display: none;
    }

    #footer-container {
        display: block;
        text-align: center;
    }

    .d-flex {
        justify-content: center;
        margin-top: 20px;
    }
}